
@{
    ViewBag.Title = "Lab1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin: 50px 0">
    <div class="col-md-4">
        @Html.ActionLink("Кодирование", "Code", "LyahnitsLabs", new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Декодирование", "Decode", "LyahnitsLabs", new { @class = "btn btn-primary" })
    </div>
</div>


