@{
    ViewBag.Title = "Home Page";
}


<div class="row" style="margin: 50px 0">
    <div class="col-md-4">
        @Html.ActionLink("Теория принятия решений", "Index", "KobakLabs"@*, new { @class = "btn btn-primary" }*@)
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Кодирование и защита информации", "Index"@*, "LyahnitsLabs", new { @class = "btn btn-primary" }*@)
    </div>
</div>